<img id="LogoPerspectum" src="@Url.Content("~/images/PerspectumLogo.png")" />
<h3>@ViewBag.Message</h3>

<p>The assignment consists in a resolution of an exercice provided by Perspectum. 
   It consists in a web platfrom that allows the upload of a json file and visualize the data related with that specific file online.</p>
