<img id="LogoPerspectum" src="@Url.Content("~/images/PerspectumLogo.png")" />
<h3>@ViewBag.Message</h3>

<p>The assignment consists in the resolution of an exercice provided by Perspectum to build a web platfrom that allows the upload of a JSON file and visualise the data related with that specific file.</p>
