<img id="LogoPerspectum" src="@Url.Content("~/images/PerspectumLogo.png")" />
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Adress"><strong>Address: </strong></abbr>
    Flat 4, 187 Iffley Road, OX4 1EL, Oxford
    <br>
    <abbr title="Phone"><strong>Mobile: </strong></abbr>
    +351910503116
    <br>
    <strong>Email:</strong>   <a href="mailto:fabiojoelteles@gmail.com">fabiojoelteles@gmail.com</a><br />
</address>
